<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is your question</title>
</head>
<body>
  <h1>The quiz game</h1>
  <form method="post" action="/play">
    <h2>Question aléatoire</h2>
    <p th:text="${question.title}"></p>
      <fieldset>
        <input type="hidden" name="question" th:value="${question.id}">
        <th:block th:each="a : ${question.answers}">
            <input  type="radio" th:id="'rep-'+${a.id}" name="answer" th:value="${a.id}">
            <label th:for="'rep-'+${a.id}" th:text="${a.title}"></label>
        </th:block>
      </fieldset>
      <input type="submit" value="Répondre">
      <p th:text="${isGoodResult}  ? 'Bonne réponse !' : 'Mauvaise réponse'"></p>
      <p style="color:red" th:text="${error}"></p>
    </form>
</body>
</html>